{
    "presets": [
        ["env", {
            "targets": {
                "browsers": ["last 1 chrome version"]
            }
        }]
    ],
    "plugins": [["@babel/plugin-transform-runtime", { "absoluteRuntime": false, "corejs": 3, "helpers": true, "regenerator": true, "useESModules": false }]]
}
